@"
opendev_all_changes.zip
*.zip
__pycache__/
*.pyc
enrich/
all_backports_openstack.csv
modified_backports_openstack.csv
all_backports_openstack_with_backport_type.csv
"@ | Out-File -Encoding utf8 .gitignore